{
  "openapi": "3.0.0",
  "info": {
    "title": "Lolzteam Forum API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prod-api.lolz.live"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/css": {
      "get": {
        "operationId": "assets_css",
        "summary": "Get CSS",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "name": "css",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "categories_list",
        "summary": "List categories",
        "tags": [
          "categories"
        ],
        "parameters": [
          {
            "name": "parent_category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "parent_forum_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/categories/{categoryId}": {
      "get": {
        "operationId": "categories_get",
        "summary": "Get category",
        "tags": [
          "categories"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums": {
      "get": {
        "operationId": "forums_list",
        "summary": "List forums",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "parent_category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "parent_forum_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums/grouped": {
      "get": {
        "operationId": "forums_grouped",
        "summary": "Get forums tree",
        "tags": [
          "forums"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums/followed": {
      "get": {
        "operationId": "forums_followed",
        "summary": "Followed forums",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "total",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums/feed/options": {
      "get": {
        "operationId": "forums_get_feed_options",
        "summary": "Get feed options",
        "tags": [
          "forums"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "forums_edit_feed_options",
        "summary": "Edit feed options",
        "tags": [
          "forums"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "node_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "keywords": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums/{forumId}": {
      "get": {
        "operationId": "forums_get",
        "summary": "Get forum",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "forumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/forums/{forumId}/followers": {
      "get": {
        "operationId": "forums_followers",
        "summary": "Forum followers",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "forumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "forums_follow",
        "summary": "Follow forum",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "forumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post": {
                    "type": "boolean"
                  },
                  "alert": {
                    "type": "boolean"
                  },
                  "email": {
                    "type": "boolean"
                  },
                  "prefix_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "minimal_contest_amount": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "forums_unfollow",
        "summary": "Unfollow forum",
        "tags": [
          "forums"
        ],
        "parameters": [
          {
            "name": "forumId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/link-forums": {
      "get": {
        "operationId": "links_list",
        "summary": "List link forums",
        "tags": [
          "links"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/link-forums/{linkId}": {
      "get": {
        "operationId": "links_get",
        "summary": "Get link forum",
        "tags": [
          "links"
        ],
        "parameters": [
          {
            "name": "linkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/navigation": {
      "get": {
        "operationId": "navigation_list",
        "summary": "Navigation elements",
        "tags": [
          "navigation"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/pages": {
      "get": {
        "operationId": "pages_list",
        "summary": "List pages",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "name": "parent_page_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/pages/{pageId}": {
      "get": {
        "operationId": "pages_get",
        "summary": "Get page",
        "tags": [
          "pages"
        ],
        "parameters": [
          {
            "name": "pageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "operationId": "threads_list",
        "summary": "List threads",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "forum_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tab",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title_only",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "creator_user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sticky",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "prefix_ids[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "prefix_ids_not[]",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "thread_tag_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "thread_create_date",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "thread_update_date",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "threads_create",
        "summary": "Create thread",
        "tags": [
          "threads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "forum_id",
                  "post_body"
                ],
                "properties": {
                  "forum_id": {
                    "type": "integer"
                  },
                  "post_body": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string",
                    "description": "Thread title (RU). Required unless title_en is set."
                  },
                  "title_en": {
                    "type": "string",
                    "description": "Thread title (EN). Required unless title is set."
                  },
                  "prefix_id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "hide_contacts": {
                    "type": "boolean"
                  },
                  "allow_ask_hidden_content": {
                    "type": "boolean"
                  },
                  "reply_group": {
                    "type": "integer",
                    "default": 2
                  },
                  "comment_ignore_group": {
                    "type": "boolean"
                  },
                  "dont_alert_followers": {
                    "type": "boolean"
                  },
                  "schedule_date": {
                    "type": "string"
                  },
                  "schedule_time": {
                    "type": "string"
                  },
                  "watch_thread_state": {
                    "type": "boolean"
                  },
                  "watch_thread": {
                    "type": "boolean"
                  },
                  "watch_thread_email": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/contests": {
      "post": {
        "operationId": "threads_create_contest",
        "summary": "Create contest thread",
        "tags": [
          "threads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_body",
                  "contest_type",
                  "prize_type",
                  "require_like_count",
                  "require_total_like_count"
                ],
                "properties": {
                  "post_body": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "contest_type": {
                    "type": "string"
                  },
                  "length_value": {
                    "type": "integer"
                  },
                  "length_option": {
                    "type": "string"
                  },
                  "prize_type": {
                    "type": "string"
                  },
                  "count_winners": {
                    "type": "integer"
                  },
                  "prize_data_money": {
                    "type": "number"
                  },
                  "is_money_places": {
                    "type": "boolean"
                  },
                  "prize_data_places": {
                    "type": "array",
                    "items": {
                      "type": "number"
                    }
                  },
                  "prize_data_upgrade": {
                    "type": "integer"
                  },
                  "require_like_count": {
                    "type": "integer"
                  },
                  "require_total_like_count": {
                    "type": "integer"
                  },
                  "secret_answer": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "reply_group": {
                    "type": "integer",
                    "default": 2
                  },
                  "comment_ignore_group": {
                    "type": "boolean"
                  },
                  "dont_alert_followers": {
                    "type": "boolean"
                  },
                  "hide_contacts": {
                    "type": "boolean"
                  },
                  "allow_ask_hidden_content": {
                    "type": "boolean"
                  },
                  "schedule_date": {
                    "type": "string"
                  },
                  "schedule_time": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/claims": {
      "post": {
        "operationId": "threads_claim",
        "summary": "Create claim thread",
        "tags": [
          "threads"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "as_responder",
                  "as_is_market_deal",
                  "as_amount",
                  "transfer_type",
                  "post_body"
                ],
                "properties": {
                  "as_responder": {
                    "type": "string"
                  },
                  "as_is_market_deal": {
                    "type": "boolean"
                  },
                  "as_market_item_id": {
                    "type": "integer"
                  },
                  "as_data": {
                    "type": "string"
                  },
                  "as_amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "transfer_type": {
                    "type": "string"
                  },
                  "pay_claim": {
                    "type": "string"
                  },
                  "as_funds_receipt": {
                    "type": "string"
                  },
                  "as_tg_login_screenshot": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "post_body": {
                    "type": "string"
                  },
                  "hide_contacts": {
                    "type": "boolean"
                  },
                  "allow_ask_hidden_content": {
                    "type": "boolean"
                  },
                  "reply_group": {
                    "type": "integer",
                    "default": 2
                  },
                  "comment_ignore_group": {
                    "type": "boolean"
                  },
                  "dont_alert_followers": {
                    "type": "boolean"
                  },
                  "schedule_date": {
                    "type": "string"
                  },
                  "schedule_time": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/followed": {
      "get": {
        "operationId": "threads_followed",
        "summary": "Followed threads",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "total",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/new": {
      "get": {
        "operationId": "threads_unread",
        "summary": "Unread threads",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forum_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "data_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/recent": {
      "get": {
        "operationId": "threads_recent",
        "summary": "Recent threads",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "forum_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "data_limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}": {
      "get": {
        "operationId": "threads_get",
        "summary": "Get thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "threads_edit",
        "summary": "Edit thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "prefix_id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "discussion_open": {
                    "type": "boolean"
                  },
                  "hide_contacts": {
                    "type": "boolean"
                  },
                  "allow_ask_hidden_content": {
                    "type": "boolean"
                  },
                  "reply_group": {
                    "type": "integer"
                  },
                  "comment_ignore_group": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "threads_delete",
        "summary": "Delete thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/move": {
      "post": {
        "operationId": "threads_move",
        "summary": "Move thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "node_id"
                ],
                "properties": {
                  "node_id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "prefix_id": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "apply_thread_prefix": {
                    "type": "boolean"
                  },
                  "send_alert": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/bump": {
      "post": {
        "operationId": "threads_bump",
        "summary": "Bump thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/hide": {
      "post": {
        "operationId": "threads_hide",
        "summary": "Hide thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/star": {
      "post": {
        "operationId": "threads_star",
        "summary": "Bookmark thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "threads_unstar",
        "summary": "Unbookmark thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/followers": {
      "get": {
        "operationId": "threads_followers",
        "summary": "Thread followers",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "threads_follow",
        "summary": "Follow thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "threads_unfollow",
        "summary": "Unfollow thread",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/navigation": {
      "get": {
        "operationId": "threads_navigation",
        "summary": "Thread navigation",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/poll": {
      "get": {
        "operationId": "threads_poll_get",
        "summary": "Get thread poll",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/threads/{threadId}/poll/votes": {
      "post": {
        "operationId": "threads_poll_vote",
        "summary": "Vote on poll",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "response_id": {
                    "type": "integer"
                  },
                  "response_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/contests/{threadId}/finish": {
      "post": {
        "operationId": "threads_finish",
        "summary": "Finish contest",
        "tags": [
          "threads"
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts": {
      "get": {
        "operationId": "posts_list",
        "summary": "List posts",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "thread_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_of_post_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "posts_create",
        "summary": "Create post",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_body"
                ],
                "properties": {
                  "post_body": {
                    "type": "string"
                  },
                  "thread_id": {
                    "type": "integer"
                  },
                  "quote_post_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts/comments": {
      "get": {
        "operationId": "posts_comments_get",
        "summary": "Get post comments",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "post_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before_comment",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "posts_comments_create",
        "summary": "Create post comment",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_id",
                  "comment_body"
                ],
                "properties": {
                  "post_id": {
                    "type": "integer"
                  },
                  "comment_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "posts_comments_edit",
        "summary": "Edit post comment",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_comment_id",
                  "comment_body"
                ],
                "properties": {
                  "post_comment_id": {
                    "type": "integer"
                  },
                  "comment_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "posts_comments_delete",
        "summary": "Delete post comment",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_comment_id"
                ],
                "properties": {
                  "post_comment_id": {
                    "type": "integer"
                  },
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts/comments/report": {
      "post": {
        "operationId": "posts_comments_report",
        "summary": "Report post comment",
        "tags": [
          "posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "post_comment_id",
                  "message"
                ],
                "properties": {
                  "post_comment_id": {
                    "type": "integer"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts/{postId}": {
      "get": {
        "operationId": "posts_get",
        "summary": "Get post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "posts_edit",
        "summary": "Edit post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "posts_delete",
        "summary": "Delete post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts/{postId}/likes": {
      "get": {
        "operationId": "posts_likes",
        "summary": "Post likes",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "posts_like",
        "summary": "Like post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "posts_unlike",
        "summary": "Unlike post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/posts/{postId}/report": {
      "get": {
        "operationId": "posts_report_reasons",
        "summary": "Get post report reasons",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "posts_report",
        "summary": "Report post",
        "tags": [
          "posts"
        ],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "users_list",
        "summary": "List users",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/me": {
      "get": {
        "operationId": "users_me",
        "summary": "Get current user",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/fields": {
      "get": {
        "operationId": "users_fields",
        "summary": "List user fields",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/find": {
      "get": {
        "operationId": "users_find",
        "summary": "Find users",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "custom_fields",
            "in": "query",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/ignored": {
      "get": {
        "operationId": "users_ignored",
        "summary": "List ignored users",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "total",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/secret-answer/types": {
      "get": {
        "operationId": "users_secret_answer_types",
        "summary": "Get secret answer types",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/account/secret-answer/reset": {
      "post": {
        "operationId": "users_sa_reset",
        "summary": "Reset secret answer",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "users_sa_cancel_reset",
        "summary": "Cancel secret answer reset",
        "tags": [
          "users"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "operationId": "users_get",
        "summary": "Get user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "users_edit",
        "summary": "Edit user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "user_title": {
                    "type": "string"
                  },
                  "display_group_id": {
                    "type": "integer"
                  },
                  "display_icon_group_id": {
                    "type": "integer"
                  },
                  "display_banner_id": {
                    "type": "integer"
                  },
                  "conv_welcome_message": {
                    "type": "string"
                  },
                  "user_dob_day": {
                    "type": "integer"
                  },
                  "user_dob_month": {
                    "type": "integer"
                  },
                  "user_dob_year": {
                    "type": "integer"
                  },
                  "secret_answer": {
                    "type": "string"
                  },
                  "secret_answer_type": {
                    "type": "integer"
                  },
                  "short_link": {
                    "type": "string"
                  },
                  "language_id": {
                    "type": "integer"
                  },
                  "gender": {
                    "type": "string"
                  },
                  "timezone": {
                    "type": "string"
                  },
                  "receive_admin_email": {
                    "type": "boolean"
                  },
                  "activity_visible": {
                    "type": "boolean"
                  },
                  "show_dob_date": {
                    "type": "boolean"
                  },
                  "show_dob_year": {
                    "type": "boolean"
                  },
                  "hide_username_change_logs": {
                    "type": "boolean"
                  },
                  "allow_view_profile": {
                    "type": "string"
                  },
                  "allow_post_profile": {
                    "type": "string"
                  },
                  "allow_send_personal_conversation": {
                    "type": "string"
                  },
                  "allow_invite_group": {
                    "type": "string"
                  },
                  "allow_receive_news_feed": {
                    "type": "string"
                  },
                  "alert": {
                    "type": "object"
                  },
                  "fields": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/claims": {
      "get": {
        "operationId": "users_claims",
        "summary": "Get user claims",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claim_state",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/avatar": {
      "post": {
        "operationId": "users_avatar_upload",
        "summary": "Upload avatar",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary"
                  },
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "crop": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "users_avatar_delete",
        "summary": "Delete avatar",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/avatar/crop": {
      "post": {
        "operationId": "users_avatar_crop",
        "summary": "Crop avatar",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "crop": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/background": {
      "post": {
        "operationId": "users_background_upload",
        "summary": "Upload background",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "background": {
                    "type": "string",
                    "format": "binary"
                  },
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "crop": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "users_background_delete",
        "summary": "Delete background",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/background/crop": {
      "post": {
        "operationId": "users_background_crop",
        "summary": "Crop background",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "x": {
                    "type": "integer"
                  },
                  "y": {
                    "type": "integer"
                  },
                  "crop": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/followers": {
      "get": {
        "operationId": "users_followers",
        "summary": "User followers",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "users_follow",
        "summary": "Follow user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "users_unfollow",
        "summary": "Unfollow user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/followings": {
      "get": {
        "operationId": "users_followings",
        "summary": "Users followed by user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/likes": {
      "get": {
        "operationId": "users_likes",
        "summary": "User likes",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "node_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "like_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "stats",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/ignore": {
      "post": {
        "operationId": "users_ignore",
        "summary": "Ignore user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "users_ignore_edit",
        "summary": "Edit ignore opts",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "ignore_conversations",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ignore_content",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "restrict_view_profile",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "users_unignore",
        "summary": "Unignore user",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/timeline": {
      "get": {
        "operationId": "users_contents",
        "summary": "User timeline (contents)",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/trophies": {
      "get": {
        "operationId": "users_trophies",
        "summary": "User trophies",
        "tags": [
          "users"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/users/{userId}/profile-posts": {
      "get": {
        "operationId": "profile_posts_list",
        "summary": "List profile posts",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "posts_user_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "fields_include",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts": {
      "post": {
        "operationId": "profile_posts_create",
        "summary": "Create profile post",
        "tags": [
          "profile_posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "post_body"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "post_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/{profilePostId}": {
      "get": {
        "operationId": "profile_posts_get",
        "summary": "Get profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "profile_posts_edit",
        "summary": "Edit profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "post_body": {
                    "type": "string"
                  },
                  "disable_comments": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "profile_posts_delete",
        "summary": "Delete profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/{profilePostId}/stick": {
      "post": {
        "operationId": "profile_posts_stick",
        "summary": "Stick profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "profile_posts_unstick",
        "summary": "Unstick profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/{profilePostId}/likes": {
      "get": {
        "operationId": "profile_posts_likes",
        "summary": "Profile post likes",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "profile_posts_like",
        "summary": "Like profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "profile_posts_unlike",
        "summary": "Unlike profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/{profilePostId}/report": {
      "get": {
        "operationId": "profile_posts_report_reasons",
        "summary": "Get report reasons",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "profile_posts_report",
        "summary": "Report profile post",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/comments": {
      "get": {
        "operationId": "profile_posts_comments_list",
        "summary": "List profile post comments",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profile_post_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "profile_posts_comments_create",
        "summary": "Create profile post comment",
        "tags": [
          "profile_posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "profile_post_id",
                  "comment_body"
                ],
                "properties": {
                  "profile_post_id": {
                    "type": "integer"
                  },
                  "comment_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "profile_posts_comments_edit",
        "summary": "Edit profile post comment",
        "tags": [
          "profile_posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_id",
                  "comment_body"
                ],
                "properties": {
                  "comment_id": {
                    "type": "integer"
                  },
                  "comment_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "profile_posts_comments_delete",
        "summary": "Delete profile post comment",
        "tags": [
          "profile_posts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "comment_id"
                ],
                "properties": {
                  "comment_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/{profilePostId}/comments/{commentId}": {
      "get": {
        "operationId": "profile_posts_comments_get",
        "summary": "Get profile post comment",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "profilePostId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/profile-posts/comments/{commentId}/report": {
      "post": {
        "operationId": "profile_posts_comments_report",
        "summary": "Report profile post comment",
        "tags": [
          "profile_posts"
        ],
        "parameters": [
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message"
                ],
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations": {
      "get": {
        "operationId": "conversations_list",
        "summary": "List conversations",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "folder",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "conversations_create",
        "summary": "Create conversation",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recipient_id": {
                    "type": "integer"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "is_group": {
                    "type": "boolean"
                  },
                  "title": {
                    "type": "string"
                  },
                  "open_invite": {
                    "type": "boolean"
                  },
                  "allow_edit_messages": {
                    "type": "boolean"
                  },
                  "allow_sticky_messages": {
                    "type": "boolean"
                  },
                  "allow_delete_own_messages": {
                    "type": "boolean"
                  },
                  "message_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "conversations_update",
        "summary": "Edit conversation",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conversation_id"
                ],
                "properties": {
                  "conversation_id": {
                    "type": "integer"
                  },
                  "title": {
                    "type": "string"
                  },
                  "open_invite": {
                    "type": "boolean"
                  },
                  "history_open": {
                    "type": "boolean"
                  },
                  "allow_edit_messages": {
                    "type": "boolean"
                  },
                  "allow_sticky_messages": {
                    "type": "boolean"
                  },
                  "allow_delete_own_messages": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "conversations_delete",
        "summary": "Delete conversation",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conversation_id",
                  "delete_type"
                ],
                "properties": {
                  "conversation_id": {
                    "type": "integer"
                  },
                  "delete_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/start": {
      "post": {
        "operationId": "conversations_start",
        "summary": "Start conversation with user",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/save": {
      "post": {
        "operationId": "conversations_save",
        "summary": "Save content to saved messages",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "link"
                ],
                "properties": {
                  "link": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/read-all": {
      "post": {
        "operationId": "conversations_read_all",
        "summary": "Read all conversations",
        "tags": [
          "conversations"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/search": {
      "post": {
        "operationId": "conversations_search",
        "summary": "Search conversations",
        "tags": [
          "conversations"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string"
                  },
                  "conversation_id": {
                    "type": "integer"
                  },
                  "search_recipients": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}": {
      "get": {
        "operationId": "conversations_get",
        "summary": "Get conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/messages": {
      "get": {
        "operationId": "conversations_messages_list",
        "summary": "List conversation messages",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "conversations_messages_create",
        "summary": "Send conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message_body"
                ],
                "properties": {
                  "message_body": {
                    "type": "string"
                  },
                  "reply_message_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/messages/{messageId}": {
      "get": {
        "operationId": "conversations_messages_get",
        "summary": "Get conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/messages/{messageId}": {
      "put": {
        "operationId": "conversations_messages_edit",
        "summary": "Edit conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message_body"
                ],
                "properties": {
                  "message_body": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "conversations_messages_delete",
        "summary": "Delete conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/messages/{messageId}/stick": {
      "post": {
        "operationId": "conversations_messages_stick",
        "summary": "Stick conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "conversations_messages_unstick",
        "summary": "Unstick conversation message",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/invite": {
      "post": {
        "operationId": "conversations_invite",
        "summary": "Invite to conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipients"
                ],
                "properties": {
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/kick": {
      "post": {
        "operationId": "conversations_kick",
        "summary": "Kick from conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/read": {
      "post": {
        "operationId": "conversations_read",
        "summary": "Read conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/star": {
      "post": {
        "operationId": "conversations_star",
        "summary": "Star conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "conversations_unstar",
        "summary": "Unstar conversation",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/conversations/{conversationId}/alerts": {
      "post": {
        "operationId": "conversations_alerts_enable",
        "summary": "Enable conversation alerts",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "conversations_alerts_disable",
        "summary": "Disable conversation alerts",
        "tags": [
          "conversations"
        ],
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "operationId": "notifications_list",
        "summary": "List notifications",
        "tags": [
          "notifications"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
[...]
