{
  "openapi": "3.0.0",
  "info": {
    "title": "Lolzteam Market API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://prod-api.lzt.market"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "profile_get",
        "summary": "Get profile",
        "tags": [
          "profile"
        ],
        "responses": {
          "200": {
            "description": "Profile info"
          }
        }
      },
      "put": {
        "operationId": "profile_edit",
        "summary": "Edit market settings",
        "tags": [
          "profile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "disable_steam_guard": {
                    "type": "integer"
                  },
                  "allow_ask_discount": {
                    "type": "integer"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated"
          }
        }
      }
    },
    "/profile/claims": {
      "get": {
        "operationId": "profile_claims",
        "summary": "Get claims",
        "tags": [
          "profile"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Claims"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "operationId": "categories_get",
        "summary": "Get categories",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/categories/params": {
      "get": {
        "operationId": "categories_params",
        "summary": "Get category search params",
        "tags": [
          "categories"
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/games": {
      "get": {
        "operationId": "categories_games",
        "summary": "Get category games",
        "tags": [
          "categories"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/": {
      "get": {
        "operationId": "accounts_search",
        "summary": "Get last accounts (all categories)",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/steam": {
      "get": {
        "operationId": "accounts_search_steam",
        "summary": "Search Steam accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/fortnite": {
      "get": {
        "operationId": "accounts_search_fortnite",
        "summary": "Search Fortnite accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/riot": {
      "get": {
        "operationId": "accounts_search_riot",
        "summary": "Search Riot accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/telegram": {
      "get": {
        "operationId": "accounts_search_telegram",
        "summary": "Search Telegram accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/discord": {
      "get": {
        "operationId": "accounts_search_discord",
        "summary": "Search Discord accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/items": {
      "get": {
        "operationId": "list_user_items",
        "summary": "Get all your accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/orders": {
      "get": {
        "operationId": "list_orders",
        "summary": "Get all purchased accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/favorites": {
      "get": {
        "operationId": "list_favorites",
        "summary": "Get all favourite accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/viewed": {
      "get": {
        "operationId": "list_viewed",
        "summary": "Get all viewed accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}": {
      "get": {
        "operationId": "managing_get",
        "summary": "Get account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "put": {
        "operationId": "managing_edit",
        "summary": "Edit account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "item_origin": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "title_ru": {
                    "type": "string"
                  },
                  "description_en": {
                    "type": "string"
                  },
                  "description_ru": {
                    "type": "string"
                  },
                  "extended_guarantee": {
                    "type": "integer"
                  },
                  "key_values": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_delete",
        "summary": "Delete account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/bulk": {
      "post": {
        "operationId": "managing_bulk_get",
        "summary": "Bulk get accounts",
        "tags": [
          "managing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "item_ids"
                ],
                "properties": {
                  "item_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/bump": {
      "post": {
        "operationId": "managing_bump",
        "summary": "Bump account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/auto-bump": {
      "post": {
        "operationId": "managing_auto_bump",
        "summary": "Enable auto bump",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "interval": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_auto_bump_disable",
        "summary": "Disable auto bump",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/open": {
      "post": {
        "operationId": "managing_open",
        "summary": "Open account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/close": {
      "post": {
        "operationId": "managing_close",
        "summary": "Close account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/note": {
      "post": {
        "operationId": "managing_note",
        "summary": "Edit note",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "note": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/tag": {
      "post": {
        "operationId": "managing_tag",
        "summary": "Add tag",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tag_id"
                ],
                "properties": {
                  "tag_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_untag",
        "summary": "Remove tag",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/stick": {
      "post": {
        "operationId": "managing_stick",
        "summary": "Stick account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_unstick",
        "summary": "Unstick account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/favorite": {
      "post": {
        "operationId": "managing_favorite",
        "summary": "Add to favourites",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_unfavorite",
        "summary": "Remove from favourites",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/transfer": {
      "post": {
        "operationId": "managing_transfer",
        "summary": "Transfer account ownership",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "secret_answer"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "secret_answer": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/change-password": {
      "post": {
        "operationId": "managing_change_password",
        "summary": "Change account password",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "_cancel",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/check-guarantee": {
      "post": {
        "operationId": "managing_check_guarantee",
        "summary": "Check guarantee",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/refuse-guarantee": {
      "post": {
        "operationId": "managing_refuse_guarantee",
        "summary": "Cancel guarantee",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/temp-email-password": {
      "get": {
        "operationId": "managing_temp_email_password",
        "summary": "Get temp email password",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/ai-price": {
      "get": {
        "operationId": "managing_ai_price",
        "summary": "Get AI price",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/mafile": {
      "get": {
        "operationId": "steam_get_mafile",
        "summary": "Get mafile",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "steam_add_mafile",
        "summary": "Add mafile",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mafile"
                ],
                "properties": {
                  "mafile": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "steam_remove_mafile",
        "summary": "Remove mafile",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/mafile-code": {
      "get": {
        "operationId": "steam_guard_code",
        "summary": "Get Steam Guard code",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/value": {
      "get": {
        "operationId": "steam_inventory_value",
        "summary": "Get inventory value",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/update-value": {
      "post": {
        "operationId": "steam_update_inventory_value",
        "summary": "Update inventory value",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/sda": {
      "post": {
        "operationId": "steam_confirm_sda",
        "summary": "Confirm SDA",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "nonce"
                ],
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "nonce": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/telegram/confirmation-code": {
      "get": {
        "operationId": "telegram_confirmation_code",
        "summary": "Get Telegram confirmation code",
        "tags": [
          "telegram"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/telegram/reset-auth": {
      "post": {
        "operationId": "telegram_reset_auth",
        "summary": "Telegram reset auth",
        "tags": [
          "telegram"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/fast-sell": {
      "post": {
        "operationId": "publishing_fast_sell",
        "summary": "Fast account upload",
        "tags": [
          "publishing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category_id",
                  "price",
                  "currency",
                  "item_origin",
                  "login",
                  "password"
                ],
                "properties": {
                  "category_id": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "item_origin": {
                    "type": "string"
                  },
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "title_ru": {
                    "type": "string"
                  },
                  "description_en": {
                    "type": "string"
                  },
                  "description_ru": {
                    "type": "string"
                  },
                  "extended_guarantee": {
                    "type": "integer"
                  },
                  "allow_ask_discount": {
                    "type": "integer"
                  },
                  "proxy_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/add": {
      "post": {
        "operationId": "publishing_add",
        "summary": "Add account",
        "tags": [
          "publishing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category_id",
                  "price",
                  "currency",
                  "item_origin"
                ],
                "properties": {
                  "category_id": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "item_origin": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "title_ru": {
                    "type": "string"
                  },
                  "extended_guarantee": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/check": {
      "post": {
        "operationId": "publishing_check",
        "summary": "Check account details",
        "tags": [
          "publishing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "item_id",
                  "login",
                  "password"
                ],
                "properties": {
                  "item_id": {
                    "type": "integer"
                  },
                  "login": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/fast-buy": {
      "post": {
        "operationId": "purchasing_fast_buy",
        "summary": "Fast buy account",
        "tags": [
          "purchasing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "price"
                ],
                "properties": {
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/check-account": {
      "post": {
        "operationId": "purchasing_check",
        "summary": "Check account validity",
        "tags": [
          "purchasing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/confirm-buy": {
      "post": {
        "operationId": "purchasing_confirm",
        "summary": "Confirm buy",
        "tags": [
          "purchasing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "price": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/discount": {
      "post": {
        "operationId": "purchasing_discount_request",
        "summary": "Request discount",
        "tags": [
          "purchasing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "price"
                ],
                "properties": {
                  "price": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "purchasing_discount_cancel",
        "summary": "Cancel discount request",
        "tags": [
          "purchasing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/cart": {
      "get": {
        "operationId": "cart_get",
        "summary": "Get cart items",
        "tags": [
          "cart"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/cart/{itemId}": {
      "post": {
        "operationId": "cart_add",
        "summary": "Add item to cart",
        "tags": [
          "cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "cart_delete",
        "summary": "Delete item from cart",
        "tags": [
          "cart"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/payments": {
      "get": {
        "operationId": "payments_history",
        "summary": "Get payments history",
        "tags": [
          "payments"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pmin",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "pmax",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "receiver",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sender",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "comment",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_hold",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/money/transfer": {
      "post": {
        "operationId": "payments_transfer",
        "summary": "Transfer money to user",
        "tags": [
          "payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "secret_answer"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "secret_answer": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "username": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "hold": {
                    "type": "integer"
                  },
                  "hold_option": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/money/cancel-transfer": {
      "post": {
        "operationId": "payments_cancel_transfer",
        "summary": "Cancel held transfer",
        "tags": [
          "payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operation_id"
                ],
                "properties": {
                  "operation_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/fee": {
      "get": {
        "operationId": "payments_fee",
        "summary": "Check transfer fee",
        "tags": [
          "payments"
        ],
        "parameters": [
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/currency": {
      "get": {
        "operationId": "payments_currency",
        "summary": "Get currency rates",
        "tags": [
          "payments"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/list": {
      "get": {
        "operationId": "payments_balance_list",
        "summary": "Get list of balances",
        "tags": [
          "payments"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/exchange": {
      "post": {
        "operationId": "payments_balance_exchange",
        "summary": "Exchange balance",
        "tags": [
          "payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "from_balance",
                  "to_balance",
                  "amount"
                ],
                "properties": {
                  "from_balance": {
                    "type": "string"
                  },
                  "to_balance": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/payout/services": {
      "get": {
        "operationId": "payments_payout_services",
        "summary": "Get payout services",
        "tags": [
          "payments"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/balance/payout": {
      "post": {
        "operationId": "payments_payout",
        "summary": "Create payout",
        "tags": [
          "payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "service",
                  "wallet",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "service": {
                    "type": "string"
                  },
                  "wallet": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "include_fee": {
                    "type": "integer"
                  },
                  "extra": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/auto-payments": {
      "get": {
        "operationId": "payments_auto_list",
        "summary": "Get auto payments",
        "tags": [
          "payments"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "payments_auto_create",
        "summary": "Create auto payment",
        "tags": [
          "payments"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "currency",
                  "secret_answer",
                  "user_id"
                ],
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "secret_answer": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "day": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/auto-payments/{autoPaymentId}": {
      "delete": {
        "operationId": "payments_auto_delete",
        "summary": "Delete auto payment",
        "tags": [
          "payments"
        ],
        "parameters": [
          {
            "name": "autoPaymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/invoices": {
      "get": {
        "operationId": "invoices_list",
        "summary": "Get invoice list",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "invoices_create",
        "summary": "Create invoice",
        "tags": [
          "invoices"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "currency",
                  "amount",
                  "payment_id"
                ],
                "properties": {
                  "currency": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "payment_id": {
                    "type": "string"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "url_success": {
                    "type": "string"
                  },
                  "url_callback": {
                    "type": "string"
                  },
                  "lifetime": {
                    "type": "integer"
                  },
                  "merchant_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/invoices/{invoiceId}": {
      "get": {
        "operationId": "invoices_get",
        "summary": "Get invoice",
        "tags": [
          "invoices"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/custom-discounts": {
      "get": {
        "operationId": "custom_discounts_get",
        "summary": "Get custom discounts",
        "tags": [
          "custom_discounts"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "custom_discounts_create",
        "summary": "Create custom discount",
        "tags": [
          "custom_discounts"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "discount",
                  "user_id"
                ],
                "properties": {
                  "discount": {
                    "type": "number"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/custom-discounts/{discountId}": {
      "put": {
        "operationId": "custom_discounts_edit",
        "summary": "Edit custom discount",
        "tags": [
          "custom_discounts"
        ],
        "parameters": [
          {
            "name": "discountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "discount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "custom_discounts_delete",
        "summary": "Delete custom discount",
        "tags": [
          "custom_discounts"
        ],
        "parameters": [
          {
            "name": "discountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/proxy": {
      "get": {
        "operationId": "proxy_get",
        "summary": "Get proxy list",
        "tags": [
          "proxy"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "post": {
        "operationId": "proxy_add",
        "summary": "Add proxy",
        "tags": [
          "proxy"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "proxy_row"
                ],
                "properties": {
                  "proxy_row": {
                    "type": "string"
                  },
                  "proxy_type": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "proxy_delete",
        "summary": "Delete proxy",
        "tags": [
          "proxy"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxy_id": {
                    "type": "integer"
                  },
                  "delete_all": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/imap": {
      "post": {
        "operationId": "imap_create",
        "summary": "Create IMAP config",
        "tags": [
          "imap"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "host",
                  "username",
                  "password"
                ],
                "properties": {
                  "host": {
                    "type": "string"
                  },
                  "port": {
                    "type": "integer"
                  },
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "imap_delete",
        "summary": "Delete IMAP config",
        "tags": [
          "imap"
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/batch": {
      "post": {
        "operationId": "batch_execute",
        "summary": "Execute batch requests",
        "tags": [
          "batch"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "requests"
                ],
                "properties": {
                  "requests": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/supercell": {
      "get": {
        "operationId": "accounts_search_supercell",
        "summary": "Search Supercell accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/gifts": {
      "get": {
        "operationId": "accounts_search_gifts",
        "summary": "Search Gift accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/epicgames": {
      "get": {
        "operationId": "accounts_search_epicgames",
        "summary": "Search Epic Games accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/escapefromtarkov": {
      "get": {
        "operationId": "accounts_search_eft",
        "summary": "Search EFT accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/socialclub": {
      "get": {
        "operationId": "accounts_search_socialclub",
        "summary": "Search Social Club accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/uplay": {
      "get": {
        "operationId": "accounts_search_uplay",
        "summary": "Search Uplay accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/tiktok": {
      "get": {
        "operationId": "accounts_search_tiktok",
        "summary": "Search TikTok accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/instagram": {
      "get": {
        "operationId": "accounts_search_instagram",
        "summary": "Search Instagram accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/battlenet": {
      "get": {
        "operationId": "accounts_search_battlenet",
        "summary": "Search BattleNet accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/vpn": {
      "get": {
        "operationId": "accounts_search_vpn",
        "summary": "Search VPN accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/roblox": {
      "get": {
        "operationId": "accounts_search_roblox",
        "summary": "Search Roblox accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/warface": {
      "get": {
        "operationId": "accounts_search_warface",
        "summary": "Search Warface accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/minecraft": {
      "get": {
        "operationId": "accounts_search_minecraft",
        "summary": "Search Minecraft accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/chatgpt": {
      "get": {
        "operationId": "accounts_search_chatgpt",
        "summary": "Search ChatGPT accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/mihoyo": {
      "get": {
        "operationId": "accounts_search_mihoyo",
        "summary": "Search miHoYo accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/wot": {
      "get": {
        "operationId": "accounts_search_wot",
        "summary": "Search World of Tanks accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/wotblitz": {
      "get": {
        "operationId": "accounts_search_wotblitz",
        "summary": "Search WoT Blitz accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/ea": {
      "get": {
        "operationId": "accounts_search_ea",
        "summary": "Search EA (Origin) accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/hytale": {
      "get": {
        "operationId": "accounts_search_hytale",
        "summary": "Search Hytale accounts",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "price_min",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "price_max",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/items/states": {
      "get": {
        "operationId": "list_states",
        "summary": "Get user items states",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "item_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/user/items/download": {
      "get": {
        "operationId": "list_download",
        "summary": "Download accounts data",
        "tags": [
          "accounts_list"
        ],
        "parameters": [
          {
            "name": "item_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/image": {
      "get": {
        "operationId": "managing_image",
        "summary": "Get account image",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/letters2": {
      "get": {
        "operationId": "managing_email_letters",
        "summary": "Get email letters",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "item_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/create-claim": {
      "post": {
        "operationId": "managing_create_claim",
        "summary": "Create claim for account",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/auto-buy-price": {
      "get": {
        "operationId": "managing_auto_buy_price",
        "summary": "Get auto buy price",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/public-tag": {
      "post": {
        "operationId": "managing_public_tag",
        "summary": "Add a public tag",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tag_id"
                ],
                "properties": {
                  "tag_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      },
      "delete": {
        "operationId": "managing_public_untag",
        "summary": "Remove a public tag",
        "tags": [
          "managing"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/external": {
      "post": {
        "operationId": "publishing_external",
        "summary": "Add an external account",
        "tags": [
          "publishing"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "category_id",
                  "price",
                  "currency",
                  "item_origin",
                  "title_en"
                ],
                "properties": {
                  "category_id": {
                    "type": "integer"
                  },
                  "price": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string"
                  },
                  "item_origin": {
                    "type": "string"
                  },
                  "title_en": {
                    "type": "string"
                  },
                  "title_ru": {
                    "type": "string"
                  },
                  "description_en": {
                    "type": "string"
                  },
                  "description_ru": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/html": {
      "get": {
        "operationId": "steam_html_preview",
        "summary": "Get Steam HTML preview",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    },
    "/{itemId}/steam/inventory-value": {
      "get": {
        "operationId": "steam_account_inventory_value",
        "summary": "Get account Steam inventory value (cached)",
        "tags": [
          "steam"
        ],
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          }
        }
      }
    }
  }
}